@import "{{ site.theme }}";

.circular-image {
    border-radius: 50%;
    /* Cette propriété CSS crée l'effet circulaire */
    width: 300px;
    /* Largeur de l'image */
    height: 300px;
    /* Hauteur de l'image */
    object-fit: cover;
    /* Assure que l'image couvre tout le cercle, utile si l'image n'est pas carrée */
}